<div>
    <div class="container">
        <div class="row" ng-hide="loading">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <h2>ABAP Taxi</h2>
                    <form class="form-signin" ng-submit="logon()">
                    <input type="text" class="form-control" placeholder="username" required autofocus ng-model="user.username">
                    <input type="password" class="form-control" placeholder="password" required ng-model="user.password">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row" ng-show="loading">
            <rd-loading ></rd-loading>
        </div>
    </div>
</div>